@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ff9494;
    overflow: hidden;
    z-index: 1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #cf4949;
    top: 71%;
    left: 65%;
    animation-duration: 62s;
    animation-delay: -47s;
    transform-origin: -13vw -23vh;
    box-shadow: -100vmin 0 13.397934659746598vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffadad;
    top: 57%;
    left: 9%;
    animation-duration: 10s;
    animation-delay: -74s;
    transform-origin: -7vw 17vh;
    box-shadow: 100vmin 0 13.107716450505851vmin currentColor;
}
.background span:nth-child(2) {
    color: #f16767;
    top: 37%;
    left: 51%;
    animation-duration: 177s;
    animation-delay: -64s;
    transform-origin: -5vw 2vh;
    box-shadow: 100vmin 0 13.165813476548145vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffadad;
    top: 16%;
    left: 70%;
    animation-duration: 125s;
    animation-delay: -173s;
    transform-origin: -6vw -3vh;
    box-shadow: -100vmin 0 12.999017529618595vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffa8a8;
    top: 73%;
    left: 10%;
    animation-duration: 21s;
    animation-delay: -205s;
    transform-origin: -19vw -18vh;
    box-shadow: 100vmin 0 13.231408802868295vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffa8a8;
    top: 23%;
    left: 29%;
    animation-duration: 26s;
    animation-delay: -32s;
    transform-origin: 15vw -16vh;
    box-shadow: 100vmin 0 12.930192299091726vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffadad;
    top: 74%;
    left: 72%;
    animation-duration: 173s;
    animation-delay: -130s;
    transform-origin: 19vw -17vh;
    box-shadow: 100vmin 0 13.204424315651467vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffa8a8;
    top: 14%;
    left: 65%;
    animation-duration: 22s;
    animation-delay: -22s;
    transform-origin: -23vw -22vh;
    box-shadow: 100vmin 0 12.595206744995254vmin currentColor;
}
.background span:nth-child(8) {
    color: #ff6363;
    top: 52%;
    left: 99%;
    animation-duration: 23s;
    animation-delay: -45s;
    transform-origin: 16vw -3vh;
    box-shadow: 100vmin 0 12.543363059222319vmin currentColor;
}
.background span:nth-child(9) {
    color: #ff6464;
    top: 17%;
    left: 87%;
    animation-duration: 128s;
    animation-delay: -34s;
    transform-origin: 23vw 1vh;
    box-shadow: 100vmin 0 13.228307939903933vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffa8a8;
    top: 57%;
    left: 29%;
    animation-duration: 136s;
    animation-delay: -152s;
    transform-origin: -3vw -10vh;
    box-shadow: -100vmin 0 12.520239012267373vmin currentColor;
}
 